# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.FPS.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\FOLDER\DEV\FPS\.idea\.idea.FPS\.idea/dataSources/
/dataSources.local.xml
